<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Institucional',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="news" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'Histórico',"#" %></li>
    <li><%= link_to 'Organograma',"#" %></li>
    <li><%= link_to 'Mapa da FS',"#" %></li>
  </ul>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Informações',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Extensão',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Editais',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Repositório',  "#" %>
    <span class="fa fa-angle-down"></span>
  </div>
  <ul id="news" class="navigation-dropdown-list arrow_box">
    <li><%= link_to 'TCC',"#" %></li>
    <li><%= link_to 'Teses',"#" %></li>
    <li><%= link_to 'Dissertações',"#" %></li>
  </ul>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Aprenda Mais',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Comunica FS',  "#" %>
  </div>
</li>

<li>
  <div class="dropdown-arrow list-title">
    <%= link_to 'Centeias',  "#" %>
  </div>
</li>
