#public-profile-search {
  padding: 0px;
  margin-top: 10px;

  input.button.with-text {
    background-color: #EEE !important;
    width: 12% !important;
    margin-right: 0px !important;
    float: right;
    padding: 10px !important;
  }
  input.button.with-text:hover {
    background-color: $primary-fs !important;
    color: white !important;
  }

  .formfield {
    width: 85%;
  }
}
